<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 8.4 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 7.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 91.2 MB/s eta 0:00:00:00:010:01
Downloading numpy-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 106.9 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 40.9 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.0 pandas-2.2.3 tzdata-2024.2
Collecting matplotlib
  Downloading matplotlib-3.9.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (164 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.0/165.0 kB 21.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.0.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 112.8 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (326 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 326.2/326.2 kB 33.9 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 109.4 MB/s eta 0:00:0000:01
Downloading kiwisolver-1.4.7-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 78.4 MB/s eta 0:00:00
Downloading pillow-11.0.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 101.8 MB/s eta 0:00:0000:01
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.9/106.9 kB 10.0 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.2 kiwisolver-1.4.7 matplotlib-3.9.3 pillow-11.0.0 pyparsing-3.2.0

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here
# Display the data types of each column
print("Data Types:\n")
print(df.dtypes)

# Display the count of non-missing values for each column
print("\nNon-missing Values Count:\n")
print(df.count())

# Display the count of missing values for each column
print("\nMissing Values Count:\n")
print(df.isnull().sum())

Data Types:

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Non-missing Values Count:

ResponseId             65437
MainBranch             65437
Age                    65437
Employment             65437
RemoteWork             54806
                       ...
JobSatPoints_11        29445
SurveyLength           56182
SurveyEase             56238
ConvertedCompYearly    23435
JobSat                 29126
Length: 114, dtype: int64

Missing Values Count:

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here
print("Basic Statistics for Numerical Columns:\n")
print(df.describe())

Basic Statistics for Numerical Columns:

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [7]:
# Write your code here
# Define a list of valid or expected country names
valid_countries = [
    "United States", "Canada", "United Kingdom", "Germany", "France", 
    "India", "Australia", "China", "Japan", "Brazil", "Russia"
    # Add other expected country names here
]

# Identify inconsistent or irrelevant entries in the 'Country' column
invalid_countries = df[~df['Country'].isin(valid_countries)]

# Display rows with inconsistent or irrelevant 'Country' entries
print("Rows with inconsistent or irrelevant 'Country' entries:\n")
print(invalid_countries)

Rows with inconsistent or irrelevant 'Country' entries:

       ResponseId                      MainBranch                 Age  \
0               1  I am a developer by profession  Under 18 years old
1               2  I am a developer by profession     35-44 years old
2               3  I am a developer by profession     45-54 years old
4               5  I am a developer by profession     18-24 years old
5               6     I code primarily as a hobby  Under 18 years old
...           ...                             ...                 ...
65431       65432  I am a developer by profession     45-54 years old
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65436       65437     I code primarily as a hobby     18-24 years old

                Employment                            RemoteWork   Check  \
0      Employed, full-time                                Remote  Apples
1      Employed, full-time                                Remote  Apples
2      Employed, full-time                                Remote  Apples
4       Student, full-time                                   NaN  Apples
5       Student, full-time                                   NaN  Apples
...                    ...                                   ...     ...
65431  Employed, full-time  Hybrid (some remote, some in-person)  Apples
65432  Employed, full-time                                Remote  Apples
65433  Employed, full-time                                Remote  Apples
65434  Employed, full-time                             In-person  Apples
65436   Student, full-time                                   NaN  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
4                                                    NaN
5                                                    NaN
...                                                  ...
65431  Hobby;Contribute to open-source projects;Profe...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65436                                                NaN

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4      Secondary school (e.g. American high school, G...
5                              Primary/elementary school
...                                                  ...
65431       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65432       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                NaN
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65436                                                NaN

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
4      Other online resources (e.g., videos, blogs, f...
5      School (i.e., University, College, etc);Online...
...                                                  ...
65431  Books / Physical media;Colleague;On the job tr...
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
0                                                    NaN  ...            NaN
1      Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2      Technical documentation;Blogs;Books;Written Tu...  ...            NaN
4      Technical documentation;Blogs;Written Tutorial...  ...            NaN
5                                                    NaN  ...            NaN
...                                                  ...  ...            ...
65431  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0                NaN            NaN            NaN             NaN
1                0.0            0.0            0.0             0.0
2                NaN            NaN            NaN             NaN
4                NaN            NaN            NaN             NaN
5                NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65431            NaN            NaN            NaN             NaN
65432            NaN            NaN            NaN             NaN
65433            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly  \
0                 NaN                    NaN        NaN                 NaN
1                 0.0                    NaN        NaN                 NaN
2                 NaN  Appropriate in length       Easy                 NaN
4                 NaN              Too short       Easy                 NaN
5                 NaN  Appropriate in length       Easy                 NaN
...               ...                    ...        ...                 ...
65431             NaN                    NaN        NaN                 NaN
65432             NaN                    NaN        NaN                 NaN
65433             NaN                    NaN        NaN                 NaN
65434             NaN                    NaN        NaN                 NaN
65436             NaN                    NaN        NaN                 NaN

      JobSat
0        NaN
1        NaN
2        NaN
4        NaN
5        NaN
...      ...
65431    NaN
65432    NaN
65433    NaN
65434    NaN
65436    NaN

[48716 rows x 114 columns]

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [8]:
## Write your code here
# Standardize entries in the 'Country' column
country_mapping = {
    "USA": "United States",
    "U.S.A.": "United States",
    "America": "United States",
    "UK": "United Kingdom",
    "England": "United Kingdom",
    "Deutschland": "Germany",
    "FR": "France",
    # Add other mappings as needed
}

df['Country'] = df['Country'].replace(country_mapping)

# Standardize entries in the 'EdLevel' column
edlevel_mapping = {
    "High School": "Secondary education",
    "Secondary school": "Secondary education",
    "Bachelors": "Bachelor’s degree",
    "Undergraduate": "Bachelor’s degree",
    "Masters": "Master’s degree",
    "Graduate": "Master’s degree",
    "PhD": "Doctorate",
    # Add other mappings as needed
}

df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Display the standardized columns to confirm changes
print("Standardized 'Country' column:\n")
print(df['Country'].unique())

print("\nStandardized 'EdLevel' column:\n")
print(df['EdLevel'].unique())

Standardized 'Country' column:

['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Standardized 'EdLevel' column:

['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [9]:
## Write your code here
# Perform one-hot encoding on the 'Employment' column
employment_encoded = pd.get_dummies(df['Employment'], prefix='Employment')

# Add the encoded columns to the original dataframe
df = pd.concat([df, employment_encoded], axis=1)

# Display the first few rows to verify the one-hot encoding
print("One-hot encoded 'Employment' column:\n")
print(df.head())

One-hot encoded 'Employment' column:

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ...  \
0                                                NaN  ...
1  Technical documentation;Blogs;Books;Written Tu...  ...
2  Technical documentation;Blogs;Books;Written Tu...  ...
3  Stack Overflow;How-to videos;Interactive tutorial  ...
4  Technical documentation;Blogs;Written Tutorial...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 224 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [10]:
## Write your code here
# Identify columns with the highest number of missing values
missing_values = df.isnull().sum()

# Sort columns by the number of missing values in descending order
missing_values_sorted = missing_values.sort_values(ascending=False)

# Display the columns with the highest number of missing values
print("Columns with the highest number of missing values:\n")
print(missing_values_sorted)

Columns with the highest number of missing values:

AINextMuch less integrated                                              64289
AINextLess integrated                                                   63082
AINextNo change                                                         52939
AINextMuch more integrated                                              51999
EmbeddedAdmired                                                         48704
                                                                        ...
Employment_Student, full-time;Student, part-time;Employed, part-time        0
Employment_Student, full-time;Student, part-time;Retired                    0
Employment_Student, part-time                                               0
Employment_Student, part-time;Employed, part-time                           0
Employment_Student, part-time;Retired                                       0
Length: 224, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [11]:
## Write your code here
# Impute missing values in the 'ConvertedCompYearly' column with the median
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median())

# Verify that there are no missing values in the column
print("Missing values in 'ConvertedCompYearly' after imputation:\n")
print(df['ConvertedCompYearly'].isnull().sum())

Missing values in 'ConvertedCompYearly' after imputation:

0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [12]:
## Write your code here
# Impute missing values in the 'RemoteWork' column with the most frequent value
df['RemoteWork'] = df['RemoteWork'].fillna(df['RemoteWork'].mode()[0])

# Verify that there are no missing values in the column
print("Missing values in 'RemoteWork' after imputation:\n")
print(df['RemoteWork'].isnull().sum())

Missing values in 'RemoteWork' after imputation:

0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [15]:
## Write your code here
!pip install scikit-learn
from sklearn.preprocessing import MinMaxScaler

# Initialize the Min-Max Scaler
scaler = MinMaxScaler()

# Reshape and scale the 'ConvertedCompYearly' column
df['ConvertedCompYearly_Normalized'] = scaler.fit_transform(df[['ConvertedCompYearly']])

# Display the first few rows to verify normalization
print("Normalized 'ConvertedCompYearly' column:\n")
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Normalized']].head())

Collecting scikit-learn
  Downloading scikit_learn-1.6.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (2.2.0)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.8/60.8 kB 7.8 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 96.5 MB/s eta 0:00:00:00:0100:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 kB 35.2 MB/s eta 0:00:00
Downloading scipy-1.14.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 MB 68.0 MB/s eta 0:00:00:00:0100:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.0 scipy-1.14.1 threadpoolctl-3.5.0
Normalized 'ConvertedCompYearly' column:

   ConvertedCompYearly  ConvertedCompYearly_Normalized
0              65000.0                        0.003998
1              65000.0                        0.003998
2              65000.0                        0.003998
3              65000.0                        0.003998
4              65000.0                        0.003998

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [16]:
## Write your code here
import numpy as np

# Apply log transformation to the 'ConvertedCompYearly' column
# Adding 1 to avoid log(0) issues
df['ConvertedCompYearly_Log'] = np.log1p(df['ConvertedCompYearly'])

# Display the first few rows to verify the transformation
print("Log-transformed 'ConvertedCompYearly' column:\n")
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

Log-transformed 'ConvertedCompYearly' column:

   ConvertedCompYearly  ConvertedCompYearly_Log
0              65000.0                11.082158
1              65000.0                11.082158
2              65000.0                11.082158
3              65000.0                11.082158
4              65000.0                11.082158

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [17]:
## Write your code here
# Define a function to categorize experience levels
def categorize_experience(years):
    try:
        years = float(years)  # Convert to numeric
        if years < 3:
            return "Beginner"
        elif 3 <= years < 7:
            return "Intermediate"
        elif 7 <= years < 15:
            return "Advanced"
        else:
            return "Expert"
    except ValueError:
        return "Unknown"  # Handle non-numeric values

# Apply the function to the 'YearsCodePro' column
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Display the first few rows to verify the new column
print("New 'ExperienceLevel' column:\n")
print(df[['YearsCodePro', 'ExperienceLevel']].head())

New 'ExperienceLevel' column:

  YearsCodePro ExperienceLevel
0          NaN          Expert
1           17          Expert
2           27          Expert
3          NaN          Expert
4          NaN          Expert

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.